body{
  margin:0;
  padding:0px;
  font-family: system-ui;
}
.BodyContainer{
  display:flex;
  position:relative;
  background:#ebeced;
  /* width: 100%; */
  height: 100%;
  top: 5rem;
  padding:2rem;
}