.siderContainer{
  position:relative;
}
.card{
  background:white;
  width:14rem;
  padding:.4rem;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.siderFeedComponentsCardProfileLogo{
  height:5rem;
  width:5rem;
  border-radius:3rem;
  background:#ba9c9c;
}
.paragraph{
  margin: 5px;
  /* color: #a7abaf; */
  font-family: monospace;
}